*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/*Regole generiche*/
h1{
  font-size: 50px;
  font-weight: bold;
  color: white;
}
h2{
  font-size: 30px;
  font-weight: bold;
}
h6{
  color:#9AA4B9;
  font-weight: bold;
}
p{
  font-size: 20px;
  color: white;
}
.background-grigio{
  background:#F3F5F9;
}
.white{
  color: white;
}
.blue{
  color: #1633FF;
}
.margin-top{
  margin-top: 100px;
}
.margin-top30{
  margin-top: 30px;
}
.padding{
  padding: 20px;
}
.center{
  text-align: center;
}
.margin-laterali{
  margin: 0 20px;
}
.margin{
  margin: 10px 0;
}



/*slide iniziale*/
.background{
  background-image: url(img/sfondo.jpg);
  min-height: 400px;
}
.background-bianco{
  background-color: white;
  border-radius:2%;
  width: 80%;
  padding: 10px 15px;
}

.btn-blu{
  width: 100%;
  background-color: #0069ff;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3%;
}
.btn-google{
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3%;
}
.google{
  height: 25px;
  float:left;
}
.h6line-height{
  line-height: 25px;
}

/*sezione clienti*/
#clients{
  background-color:#F3F5F9;
  text-align: center;
  padding:30px 0;
}
#logs img{
  height: 50px;
  width: 160px;
  margin:10px;
}
.a{
  color: #0069ff;
}
.a:hover{
  color: #0069ff;
  text-decoration: none;
}
/*MEDIA QUERY*/
@media screen and (min-height:768px) {

}
@media screen and (min-height:768px) and (max-width:992px){

}
div.dx{
  /*debug*/
  width:  200px;
  height: 50px;
  background-color: #df9bf2;
  /*debug*/
}
div.sx{
  /*debug*/
  width:  250px;
  height: 100px;
  background-color: #df9bf2;
  /*debug*/

}
